@font-face {
    font-family: "century-regular";
    src: url("fonts/century-regular.ttf")
}

@font-face {
    font-family: "century-italic";
    src: url("fonts/century-italic.TTF")
}

@font-face {
    font-family: "darleston";
    src: url("fonts/Darleston.otf")
}

a {
    text-decoration: none;
}

body {
    font-size: 20px;
    font-family: "darleston";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5em;
    max-width: 800px;
    margin: 0 auto;
}
.header {
    font-family: "century-regular";
    font-size: 50px;
    position: relative;
    height: 2em;
    width: 2em;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}

.header-c {
    position: absolute;
    top: 0;
    left: 0;
}

.header-g {
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-slash {
    border-right: 3px solid #9c9c9c;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%,-50%) rotate(28deg);
}

.welcome-line {
    margin: 30px;
    width: 100%;
    position: relative;
    text-align: center;
}

.welcome-line > .line {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.welcome-text {
    background: white;
    font-size: 40px;
    padding: 0 10px;
}

.line {
    margin: 30pxm;
    width: 100%;
    border-bottom: 3px solid #9c9c9c;
}

.date-invitation-container {
    display: flex;
    align-items: center;
}

.date-invitation-container > span {
    font-size: 2em;
    line-height: 1.4em
}

.date-invitation-container span.time {
    font-size: 0.6em
}

.date-container {
    font-family: "century-regular";
    margin-right: 1.5em;
    padding-right: 1.5em;
    border-right: 3px solid #9c9c9c;
}

.date-container > .date {
    font-size: 1.7em;
    text-align: center;
}

.date-container > .year {
    font-size: 5em;
    color: #ae9a65;
}

.name-container {
    white-space: nowrap;
    font-family: "century-italic";
    position: relative;
    padding-right: 6em;
}

.name-container > div {
    font-size: 3.5em;
    color: #ae9a65;
}

.ampersand {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-40%);
    font-family: darleston;
    color: black;
    font-size: 8em;
}

.name-container > img {
    position: absolute;
    right: 0;
    width: 6.25em;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}


.dress-code-toast-masters-container {
    display: flex;
    align-items: center;
}

.toast-masters-info-container {
    padding-bottom: 0.3em;
    padding-left: 0.5em;
}

.dress-code {
    padding-right: 1.5em;
    margin-right: 1.5em;
    border-right: 3px solid #9c9c9c;
    white-space: nowrap;
}

.dress-code {
    font-family: "century-regular";
}

.dress-code-title {
    font-family: "darleston";
    font-size: 2em;
}

.dress-code-actual {
    font-size: 1.2em;
    font-family: "century-regular";
    color: #ae9a65;
}

.toast-masters {
    display: flex;
    align-items: center;
}

.toast-masters .info {
    color: #ae9a65;
    font-family: "century-regular";
    white-space: nowrap;
    font-size: 1.1em;
}

.info > a {
    color: #ae9a65;
}

.toast-masters-title {
    font-size: 2em;
    line-height: 0.6em;
}

.toast-masters-info {
    font-size: 1em;
}

.good-to-know {
    font-size: 1.2em;
    font-family: "century-regular";
    line-height: 1.25em;
    color: #ae9a65;
}

.good-to-know > p {
    margin: 0;
}

.good-to-know > p:first-of-type {
    margin-bottom: 0.5em;
}

.babysitter {
    font-size: 2em;
}

.welcome-finish {
    font-size: 2.5em;
    margin: 0 0 0.9em 0;
    color: #ae9a65;
}

@media (max-width: 750px) {
    .body {
        font-size: 10px;
    }
}