@font-face {
  font-family: "century-regular";
  src: url("./fonts/century-regular.ttf")
}

@font-face {
  font-family: "century-italic";
  src: url("./fonts/century-italic.TTF")
}

@font-face {
  font-family: "darleston";
  src: url("./fonts/Darleston.otf")
}

body {
  font-family: "century-regular" !important;
  font-size: 10px;
}

.section-container.section {
  padding-top: 0;
}

.line {
  margin: 20px 0;
  display: block;
  border-bottom: 3px solid #9c9c9c;
}

.silver {
  color: #9c9c9c;
}

.gold {
  color: #ae9a65;
}

.cursive {
  font-family: "darleston";
}

.italic {
  font-family: "century-italic";
}

.header-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.header {
  font-family: "century-regular";
  font-size: 100px;
  line-height: 100px;
  position: relative;
  height: 200px;
  width: 200px;
}

.header-c {
  position: absolute;
  top: 0;
  left: 0;
}

.header-g {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-slash {
  opacity: 0.2;
  border-right: 3px solid #9c9c9c;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%,-50%) rotate(28deg);
}

div.welcome-text-container {
  position: relative;
  margin-top: 48px;
  padding-bottom: 0;
}

.welcome-text {
  white-space: nowrap;
  font-size: 40px;
  position: absolute;
  background: white;
  top: 0;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
}

.welcome-text span {
  background: white;
}

.name-section {
  text-align: center;
}

.name-container {
  white-space: nowrap;
  position: relative;
  padding-right: 55px;
  display: inline-block;
  text-align: initial;
}

.name-container > div {
  font-size: 55px;
  color: #ae9a65;
}

.ampersand {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-40%);
  font-family: darleston;
  color: black;
  font-size: 125px;
  z-index: -1;
}

.adress-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adress-container p {
  margin-right: 40px;
  max-width: 300px;
}

.google-map {
  max-width: 500px
}

iframe {
  border-radius: 4px;
}

.section {
  padding: 0 40px;
}

.section-heading {
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
}

.number-wrapper {
  margin-top: 20px;
}

.dress-code-container {
  display: flex;
}

.dress-code-container div {
  flex: 0.5;
}

.dress-code-container div:first-child {
  margin-right: 20px;
}

.dress-code-container div:last-child {
  margin-left: 20px;
}

.dress-code-title {
  font-size: 40px;
}

@media (max-width: 740px) {
  .dress-code-container {
    display: block;
  }

  .dress-code-container div:first-child {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  
  .dress-code-container div:last-child {
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .name-container > div {
    font-size: 40px;
  }

  .welcome-text {
    font-size: 30px;
  }

  .header {
    font-size: 80px;
    line-height: 80px;
    height: 160px;
    width: 160px;
  }

  .google-map {
    max-width: 380px
  }

  .adress-container {
    display: block;
  }

  .adress-container > p {
    display: inline-block;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {

  .header {
    font-size: 65px;
    line-height: 65px;
    height: 130px;
    width: 130px;
  }

  .name-container {
    padding-right: 0;    
  }

  .name-container > div {
    font-size: 30px;
  }

  .name-container > div:first-of-type {
    margin-bottom: 55px;
  }

  .ampersand {
    right: 50%;
    top: 50%;
    transform: translate(50%, -45%);
    font-size: 65px;
  }

  .google-map {
    max-width: 250px
  }
}